*{
    font-family: 'Raleway', sans-serif;
}

body{
    
    background-color: #deebff00;
}

nav{
    
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

nav img{
    margin: 40px 0 40px 40px;
    background-image: #0065fc;
    opacity: 0.8;
}


nav ul{
    margin: 60px 60px;
    display: flex;
    list-style: none;
}

nav li{
    margin: 0px 40px;
    font-size: 14px;
    
}
nav a{
    text-decoration: none;
    color: #0065fc;
}
/* main */
h1{
    margin: 0px 0 0 40px; 
    font-size: 17px;
}

.centre{
    margin: 5px 0 20px 40px;
    font-size: 14px;
    
}

.Recherche{
    display: flex;
    justify-content: inherit;
    width: 20px;
    border: 30px;
    padding: 10px;
    margin: 0px;


}

.Details{
    display: flex;
    justify-content: space-between;
}

.Finance{
    display: flex;
    align-items: baseline;
    align-content: space-around;
}

.Finance{
    position: relative;
    border: 2px solid;
    width: 110px;px;
    padding: 5px;
    margin: 5px;
}

.Famille{
    display: flex;
    align-items: baseline;
}

.Couple{
    display: flex;
    align-items: baseline;
}

.Animaux{
    display: flex;
    align-items: baseline;
}















/* footer */
footer{
    background-color: #f2f2f2;
    font-size: 16px;
    margin: 0px ;
    padding-right: 100px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
}





