*{
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0px;
    background-color: #deebff00;
}

nav{
    
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

nav img{
    margin: 40px 0 40px 40px;
    background-image: #0065fc;
    opacity: 0.8;
}


nav ul{
    margin: 60px 60px;
    display: flex;
    list-style: none;
}

nav li{
    margin: 0px 40px;
    font-size: 14px;
    
}
nav a{
    text-decoration: none;
    color: #0065fc;
}

h1{
    margin: 0px 0 0 40px; 
    font-size: 18px;
}

.centre{
    margin: 5px 0 20px 40px;
    font-size: 14px;
    
}

.Ville{
    margin: 0 0 0 40px;
    
}

.fa-map-marker-alt{
    background-color: #f2f2f2;
    border-style: none;
    padding: 7px;
    border-radius: 5px 0 0 5px;
    font-size: 7px;
}

.Ville input{
    opacity: 0.5;
    margin: 5px 0 0 0.5px;
}

footer.Conditions{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px 30px 40px;

}

